<div class="modal-header">
    <h3 class="modal-title">Table Widget</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>Data Source</label>
        <!--<select class="form-control"
                ng-model="configuration.datasource" 
                ng-options="data as obj.sourcename for obj in datasourcelist"
                ng-change="getDataSourceFeilds(data)">
        </select>-->
        <select class="form-control" style="padding-left:0px; padding-right:0px;" ng-model="configuration.datasource" ng-change="getDataSourceFeilds()">
            <option value="">Please Select</option>
            <option ng-repeat="obj in datasourcelist" value="{{obj}}" ng-selected="isSelectedItem(obj.sourcename,configuration.datasource.sourcename)">{{obj.sourcename}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Field Name</label>
        <div class="row">
            <div class="col-md-6" ng-repeat="obj in fieldnamelist">
                <input type="checkbox" ng-model="obj.isSelected" value="{{obj.key}}" ng-change="pushSelectedTransactionType(obj)" /> {{obj.key}}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="saveSettings()">Ok</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>