    <style>
        .table {
            height: 200px;
        }
    </style>
<div class="modal-header">
    <h3 class="modal-title">Device Widget</h3>
</div>
<div class="modal-body">
    <div class="form-group" ng-show="sitelist.length > 0">
        
        <div ng-if="sitelist.length == 1">
            <label>Site :</label>
            <label >{{sitelist[0].name}}</label>
            <input hidden ng-value="sitelist[0].uuid" ng-model="configuration.siteid"/>
        </div>

        <div ng-if="sitelist.length > 1">
            <label>Site :</label>
            <select class="form-control" style="padding-left:0px; padding-right:0px;" ng-model="configuration.siteid">
                <option ng-repeat="obj in sitelist" ng-value="obj.uuid" ng-selected="isSelectedItem(obj.uuid,configuration.siteid)">{{obj.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Row :</label>
        <table id="data-table" datatable="ng" dt-options="dtOptions" width="100%" class="table table-striped table-bordered table-hover" fixed-header>
            <thead>
                <tr>
                    <th><button ng-click="selectAllRows()">All</button></th>                                        
                    <th>Mac Address</th>
                    <th>Type</th>
                    <th>Room</th>
                    <th>Person</th>
                </tr>
            </thead>
             <tbody>
                <tr ng-repeat="obj in configuration.rows" ng-if="obj.uuid != ''">
                    <td><input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="obj.display" ng-change="selectSingleRow()"/></td>
                    <td>{{obj.euid}}</td>
                    <td>{{obj.type}}</td>
                    <td>{{obj.roomname}}</td>
                    <td>{{obj.person}}</td>
                </tr>
            </tbody> 
        </table>  
    </div>
    <div class="form-group">
        <label>Column :</label>
        <div class="row">
            <div class="col-md-6" ng-repeat="col in configuration.cols">
                <label class="checkbox-inline" >
                    <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="col.show"/> {{col.title}}
                </label>
            </div>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="saveSettings()">Ok</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>