<div ng-controller="locationmanagementcontroller">
    <div class="common-widget">
    <div class="common-heading">
        <img class="common-icon" ng-src="/javascripts/images/employee.png" alt="employee" />
        <span class="www-employee-title">Location Management</span>
    </div>
    <div class="common-body">
        <div class="row" style="margin:1%">
            <div class="col-md-12" >
                <button ng-click="Add()" type="button" class="btn btn-flat" data-widget=""><i class="glyphicon glyphicon-plus"></i> Add Field</button>
                <br><br>
                <p ng-if="errormessage != ''" class="text-danger">* {{errormessage}}</p>  
                <button ng-click="locmanagementcontrol.expand_all()" class="btn btn-default btn-sm">Expand All</button>
                <button ng-click="locmanagementcontrol.collapse_all()" class="btn btn-default btn-sm">Collapse All</button>
                <tree-grid tree-data="roomList" tree-control="locmanagementcontrol" col-defs="colDefs"></tree-grid>   
                <!-- <tree-grid tree-data="roomList" tree-control="locmanagementcontrol" col-defs="colDefs" expand-on="expanding_property_files"></tree-grid>   -->
            </div>
        </div>
    </div>
</div>

<div class="modal modal-message fade" id="modal-add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" ng-click="closemodal()">x</a>
                    <h4 class="modal-title">{{action}} Location</h4>
                </div>
                <div class="modal-body">
                    <p ng-if="errormessage != ''" class="text-danger">* {{errormessage}}</p>
                    <div class="form-group has-feedback">
                        <input type="text" placeholder="Name" class="form-control" ng-model="locationobj.name">
                    </div>
                    <div class="form-group has-feedback">
                        <select class="form-control" style="padding-left:0px; padding-right:0px;" ng-model="locationobj.areatype" ng-change="getParent(locationobj.areatype)">
                            <option value="">Please Select Area Type</option>
                            <option value="{{obj.level}}" ng-repeat="obj in areatype" ng-selected="isSelectedItem(locationobj.areatype, obj.name)">{{obj.name}}</option>
                        </select>
                    </div>
                    <div class="form-group has-feedback">
                        <select ng-disabled="parentList.length == 0 && locationobj.parent == 0" class="form-control" style="padding-left:0px; padding-right:0px;" ng-model="locationobj.parent" ng-change="concatShortAddressHierarchy(locationobj.parent, locationobj)">
                            <option value="">Please Select Parent</option>
                            <option value="{{parent.uuid}}" ng-repeat="parent in parentList" ng-selected="isSelectedItem(parent.uuid, locationobj.parent)">{{parent.name}}</option>
                        </select>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" placeholder="Short Address" class="form-control" ng-model="locationobj.shortaddress" >
                    </div>
                    <div class="form-group has-feedback">
                        <textarea placeholder="Full Address" class="form-control" disabled rows="2" cols="50" ng-model="locationobj.fulladdress"></textarea>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-default btn-width btn-margin" ng-click="closemodal()">Cancel</a>
                    <!--add-->
                    <button ng-if="action == 'Add'" type="button" class="btn btn-default btn-width" ng-click="Save(locationobj)">
                        <span>Save</span>
                    </button>
                    <!--update-->
                    <button ng-if="action == 'Edit'" type="button" class="btn btn-default btn-width" ng-click="Update(locationobj)">
                        <span>Update</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal modal-message fade" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">Delete room</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>Are you sure you want to delete this room?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-default btn-width btn-margin" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-default btn-width" ng-click="Delete()">
                        <span>Ok</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>