<div style="overflow:auto;width: 100%;height: 100%;">
    <table ng-table-dynamic="demodevice.tableParams with cols" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data" ng-if="row['display'] == true && row['euid'] != '' && widgetdata.widgetSettings.configuration.devicetype == ''"> 
          <td ng-repeat="col in $columns">{{row[col.field]}}</td>
        </tr>
        <tr ng-repeat="row in $data" ng-if="row['display'] == true && row['euid'] != '' && widgetdata.widgetSettings.configuration.devicetype == 'mobile' && row['type'] == 'mobile'"> 
          <td ng-repeat="col in $columns">{{row[col.field]}}</td>
        </tr>
        <tr ng-repeat="row in $data" ng-if="row['display'] == true && row['euid'] != '' && widgetdata.widgetSettings.configuration.devicetype == 'fixed' && row['type'] == 'fixed'"> 
          <td ng-repeat="col in $columns">{{row[col.field]}}</td>
        </tr>
    </table>
</div>